In [1]:
import pandas as pd
import numpy as np

In [2]:
book = pd.read_csv(r'C:\Users\lenovo\Desktop\DATA SCIENCE\book.csv')

In [3]:
book[0:5]

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

In [4]:
len(book.ChildBks.unique())

2

In [5]:
len(book.YouthBks.unique())

2

In [6]:
len(book.CookBks.unique())

2

In [9]:
len(book.DoItYBks.unique())

2

In [8]:
len(book.RefBks.unique())

2

In [10]:
len(book.ArtBks.unique())

2

In [11]:
len(book.GeogBks.unique())

2

In [12]:
len(book.ItalCook.unique())

2

In [13]:
len(book.ItalAtlas.unique())

2

In [14]:
len(book.ItalArt.unique())

2

In [15]:
len(book.Florence.unique())

2

In [28]:
user_book = book.pivot(columns='ChildBks',).reset_index(drop=True)

In [29]:
user_book

         YouthBks      CookBks      DoItYBks      RefBks      ArtBks       \
ChildBks        0    1       0    1        0    1      0    1      0    1
0             1.0  NaN     0.0  NaN      1.0  NaN    0.0  NaN    0.0  NaN
1             NaN  0.0     NaN  0.0      NaN  0.0    NaN  0.0    NaN  0.0
2             0.0  NaN     0.0  NaN      0.0  NaN    0.0  NaN    0.0  NaN
3             NaN  1.0     NaN  1.0      NaN  0.0    NaN  1.0    NaN  0.0
4             0.0  NaN     1.0  NaN      0.0  NaN    0.0  NaN    0.0  NaN
...           ...  ...     ...  ...      ...  ...    ...  ...    ...  ...
1995          0.0  NaN     1.0  NaN      0.0  NaN    0.0  NaN    1.0  NaN
1996          0.0  NaN     0.0  NaN      0.0  NaN    0.0  NaN    0.0  NaN
1997          0.0  NaN     0.0  NaN      0.0  NaN    0.0  NaN    0.0  NaN
1998          0.0  NaN     1.0  NaN      0.0  NaN    0.0  NaN    0.0  NaN
1999          0.0  NaN     0.0  NaN      0.0  NaN    0.0  NaN    0.0  NaN

         GeogBks      ItalCook      ItalAtlas      ItalArt      Florence
ChildBks       0    1        0    1         0    1       0    1        0    1
0            1.0  NaN      0.0  NaN       0.0  NaN     0.0  NaN      0.0  NaN
1            NaN  0.0      NaN  0.0       NaN  0.0     NaN  0.0      NaN  0.0
2            0.0  NaN      0.0  NaN       0.0  NaN     0.0  NaN      0.0  NaN
3            NaN  1.0      NaN  0.0       NaN  0.0     NaN  0.0      NaN  0.0
4            1.0  NaN      0.0  NaN       0.0  NaN     0.0  NaN      0.0  NaN
...          ...  ...      ...  ...       ...  ...     ...  ...      ...  ...
1995         1.0  NaN      1.0  NaN       0.0  NaN     1.0  NaN      1.0  NaN
1996         0.0  NaN      0.0  NaN       0.0  NaN     0.0  NaN      0.0  NaN
1997         0.0  NaN      0.0  NaN       0.0  NaN     0.0  NaN      0.0  NaN
1998         0.0  NaN      0.0  NaN       0.0  NaN     0.0  NaN      0.0  NaN
1999         0.0  NaN      0.0  NaN       0.0  NaN     0.0  NaN      0.0  NaN

[2000 rows x 20 columns]

In [31]:
user_book.fillna(0, inplace=True)

In [32]:
user_book

         YouthBks      CookBks      DoItYBks      RefBks      ArtBks       \
ChildBks        0    1       0    1        0    1      0    1      0    1
0             1.0  0.0     0.0  0.0      1.0  0.0    0.0  0.0    0.0  0.0
1             0.0  0.0     0.0  0.0      0.0  0.0    0.0  0.0    0.0  0.0
2             0.0  0.0     0.0  0.0      0.0  0.0    0.0  0.0    0.0  0.0
3             0.0  1.0     0.0  1.0      0.0  0.0    0.0  1.0    0.0  0.0
4             0.0  0.0     1.0  0.0      0.0  0.0    0.0  0.0    0.0  0.0
...           ...  ...     ...  ...      ...  ...    ...  ...    ...  ...
1995          0.0  0.0     1.0  0.0      0.0  0.0    0.0  0.0    1.0  0.0
1996          0.0  0.0     0.0  0.0      0.0  0.0    0.0  0.0    0.0  0.0
1997          0.0  0.0     0.0  0.0      0.0  0.0    0.0  0.0    0.0  0.0
1998          0.0  0.0     1.0  0.0      0.0  0.0    0.0  0.0    0.0  0.0
1999          0.0  0.0     0.0  0.0      0.0  0.0    0.0  0.0    0.0  0.0

         GeogBks      ItalCook      ItalAtlas      ItalArt      Florence
ChildBks       0    1        0    1         0    1       0    1        0    1
0            1.0  0.0      0.0  0.0       0.0  0.0     0.0  0.0      0.0  0.0
1            0.0  0.0      0.0  0.0       0.0  0.0     0.0  0.0      0.0  0.0
2            0.0  0.0      0.0  0.0       0.0  0.0     0.0  0.0      0.0  0.0
3            0.0  1.0      0.0  0.0       0.0  0.0     0.0  0.0      0.0  0.0
4            1.0  0.0      0.0  0.0       0.0  0.0     0.0  0.0      0.0  0.0
...          ...  ...      ...  ...       ...  ...     ...  ...      ...  ...
1995         1.0  0.0      1.0  0.0       0.0  0.0     1.0  0.0      1.0  0.0
1996         0.0  0.0      0.0  0.0       0.0  0.0     0.0  0.0      0.0  0.0
1997         0.0  0.0      0.0  0.0       0.0  0.0     0.0  0.0      0.0  0.0
1998         0.0  0.0      0.0  0.0       0.0  0.0     0.0  0.0      0.0  0.0
1999         0.0  0.0      0.0  0.0       0.0  0.0     0.0  0.0      0.0  0.0

[2000 rows x 20 columns]

In [33]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [34]:
user_sim = 1 - pairwise_distances( user_book.values,metric='cosine')

In [35]:
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [36]:
user_sim_df = pd.DataFrame(user_sim)

In [41]:
user_sim_df.iloc[0:5, 0:5]

          0    1    2    3         4
0  1.000000  0.0  0.0  0.0  0.408248
1  0.000000  1.0  0.0  0.0  0.000000
2  0.000000  0.0  1.0  0.0  0.000000
3  0.000000  0.0  0.0  1.0  0.000000
4  0.408248  0.0  0.0  0.0  1.000000

In [42]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, 0:5]

          0    1    2    3         4
0  0.000000  0.0  0.0  0.0  0.408248
1  0.000000  0.0  0.0  0.0  0.000000
2  0.000000  0.0  0.0  0.0  0.000000
3  0.000000  0.0  0.0  0.0  0.000000
4  0.408248  0.0  0.0  0.0  0.000000

In [43]:
user_sim_df.idxmax(axis=1)[0:5]

0    231
1      0
2      0
3    158
4     11
dtype: int64

In [51]:
book[(book['ChildBks']==0) | (book['YouthBks']==231)]

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
6,0,1,0,0,0,0,0,0,0,0,0
7,0,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [55]:
user_1=book[book['ChildBks']==0]

In [56]:
user_2=book[book['YouthBks']==231]

In [59]:
user_2.YouthBks

Series([], Name: YouthBks, dtype: int64)

In [60]:
user_1.ChildBks

0       0
2       0
4       0
6       0
7       0
       ..
1995    0
1996    0
1997    0
1998    0
1999    0
Name: ChildBks, Length: 1154, dtype: int64